.branch
    background: #ffffff
    padding: 120px 0
    &__wrapper
        display: flex
        justify-content: space-between
    
    &__title
        line-height: 122%
        margin-bottom: 20px
    &__descr
        line-height: 130%
        margin-bottom: 65px

    &__content
        max-width: 410px
        &_wrapper
            display: flex
            flex-direction: column
            gap: 30px
        &_seniorClinic
            display: flex
            flex-direction: column
        &_subtitle
            margin-bottom: 10px
        &_address
            line-height: 160%
            margin-bottom: 25px
            max-width: 273px
        &_callPhone
            line-height: 160%
            margin-bottom: 5px
            span
                color: #0099FF
        &_supportPhone
            line-height: 160%
            margin-bottom: 38px
            span
                color: #0099FF
        &_map
            color: #0099FF