@media (prefers-reduced-motion: reduce)
	*
		animation-duration: 0.01ms !important
		animation-iteration-count: 1 !important
		transition-duration: 0.01ms !important
		scroll-behavior: auto !important

@media (max-width: 1280px)
	h1
		font-size: 70px
	h2
		font-size: 35px

@media (max-width: 1024px)
	h1
		font-size: 50px
	h2
		font-size: 30px
	h3
		font-size: 20px
	h4
		font-size: 17px
	.header
		&__Mobwrapper
			display: flex
		&__wrapper
			display: none
	.servicesList
		&__wrapper
			flex-direction: column
			.reverse
				flex-direction: column
		&__item
			flex-direction: column
			justify-content: flex-start
			gap: 20px
		&__text
			max-width: inherit
			text-align: center
		&__content
			height: inherit
			margin-bottom: 20px
		&__menu
			place-items: center

	.about
		&__wrapper
			flex-direction: column
			justify-content: space-between
			align-items: center

	.treatment
		&__content
			max-width: inherit
			text-align: center
		&__wrapper
			justify-content: center
			align-items: center
		img
			display: none

	.advantages
		&__wrapper
			flex-direction: column
			align-items: center
		&__text
			max-width: inherit
			margin-bottom: 30px
			text-align: center
	
	.services
		&__content
			grid-template-rows: 1fr 1fr 1fr
			grid-template-columns: 1fr 1fr
		&__card
			&_icon
				margin-bottom: 50px
	.questions
		&__wrapper
			flex-direction: column-reverse
			padding: 10px
		&__image
			margin-bottom: 30px

	.branch__wrapper
		flex-direction: column-reverse
		align-items: center
		.branch__image
			max-width: 80%
			margin-bottom: 30px

@media (max-width: 840px)
	.chiefDentist__image
		display: none
@media (max-width: 660px)
	h1
		font-size: 40px
	.pageTop
		// height: 60px
		&__wrapper
			justify-content: center
			.pageTop__contacts_address, .pageTop__contacts_workTime, .pageTop__rSide
				display: none
	.promo
		&__wrapper
			padding: 312px 0
			.promo__card
				display: none
	.about
		&__team
			.text_button
				justify-content: center
			.about__card_wrapper
				display: flex
				flex-direction: column
				align-items: center
				gap: 10px
				justify-content: space-between
		&__worktime
			min-width: inherit

	.advantages
		&__content
			grid-template-columns: 1fr
			grid-template-row: 1fr 1fr 1fr 1fr
			gap: 20px
			&_card, &_card-blue
				background: #fff
				border: 1px solid $main-color
				color: $text-color
			.blueBG-effect
				display: none

	.services
		&__content
			grid-template-rows: 1fr 1fr 1fr 1fr
			grid-template-columns: 1fr

	.about
		&__wrapper
			padding: 0
		&__worktime
			padding: 10px	

	.faq__wrapper
		flex-direction: column
		align-items: center
		padding: 40px 20px
		h3
			font-size: 15px
		p
			font-size: 12px
	.faq__text
		margin-bottom: 30px
	.faq__list
		width: inherit
		.symbol
			display: none
	
	.contacts__wrapper
		display: flex
		flex-direction: column
		gap: 30px
		span
			display: none

	.footer
		&__links
			flex-direction: column
			align-items: center
			
	.promoS, .promoD, .promoC, .promoCo, .promoF
		&__wrapper
			padding: 300px 0 0
		&__title
			text-align: left	

	.chiefDentist
		&__wrapper
			padding: 30px 15px 30px 15px
		&__title
			font-size: 20px
			line-height: 123%
			letter-spacing: -1px
			max-width: 653px
			margin-bottom: 20px

@media (max-width: 400px)
	h2
		font-size: 26px
	.footer
		.footer__social_text
			display: none

	.services
		&__wrapper
			padding: 60px 15px 15px
		&__card
			padding: 15px
