.servicesList
    background: #ffffff
    padding: 120px 0
    &__wrapper
        display: flex
        flex-direction: column
        gap: 60px
        .reverse
            flex-direction: row-reverse
    &__item
        display: flex
        justify-content: space-between
        align-items: center
        img
            border-radius: 24px
            overflow: hidden
    &__text
        max-width: 518px
    &__title
        margin-bottom: 20px
    &__content
        font-size: 16px
        line-height: 140%
        margin-bottom: 43px
    &__menu
        display: grid
        grid-template-rows: repeat(3, 1fr)
        grid-template-columns: repeat(2, 1fr)
        width: 100%
        // max-width: 430px
        row-gap: 17px
        &_item
            display: flex
            align-items: center
        &_dot
            background: #33CFFF
            height: 7px
            width: 7px
            border-radius: 50%
            overflow: hidden
        &_link
            padding-left: 10px