.treatment
    background: #ffffff
    &__wrapper
        display: flex
        justify-content: space-between
        align-items: flex-start
        padding: 120px 0
    img
        max-width: 740px
        object-fit: contain
    &__content
        max-width: 383px
    &__title
        margin-bottom: 20px
    &__descr
        margin-bottom: 50px
        line-height: 130%
    &__slideList
        display: flex
        flex-direction: column
        details
            summary
                display: flex
                height: 60px
                align-items: center
                cursor: pointer
                .treatment__num
                    width: 62px
                    text-align: center
                    font-size: 16px
                    color: $main-color
                .treatment__title
                    padding-left: 20px
                    display: flex
                    align-items: center
                    height: 100%
                    border-left: 4px solid #D1F0FA
                    margin: 0
            article
                display: flex
                .treatment__span
                    width: 396px
                    background: #ffffff
                p
                    padding-left: 20px
                    border-left: 4px solid #D1F0FA
                    line-height: 160%

        details[open]
            .treatment__title, p
                border-left: 4px solid #33CFFF