.about
    background: #ffffff
    &__wrapper
        max-width: 1360px
        margin: 0 auto
        background: #F0FBFF
        border-radius: 52px
        overflow: hidden
        padding: 40px
        display: flex
        justify-content: space-between
        align-items: center
    &__team
        max-width: 620px
        display: flex
        flex-direction: column
        gap: 20px
        .text_button
            margin-bottom: 10px

        .about__card_wrapper
            display: flex
            justify-content: space-between
            .about__card
                background: #ffffff
                .about__card_text
                    padding: 20px
                    .expert_name
                        margin-bottom: 5px
                        font-size: 16px
                        color: $main-color

    &__worktime
        background: $main-color
        color: #ffffff
        border-radius: 24px
        overflow: hidden
        padding: 40px
        h3
            color: #ffffff
            margin-bottom: 10px
        p
            margin-bottom: 10px
        
        .about__times
            width: 439px
            height: 276px
            margin-bottom: 20px
