.treatment
    background: #ffffff
    &__wrapper
        display: flex
        max-width: 1280px
        justify-content: space-between
        align-items: flex-start
        margin: 0 auto
        padding: 120px 0
    img
        max-width: 740px
        object-fit: contain
    &__content
        max-width: 383px
    &__title
        margin-bottom: 20px
    &__descr
        margin-bottom: 50px
        line-height: 130%
    &__slideList
        display: flex
        flex-direction: column
        &_item
            display: flex
            gap: 24px
            height: 60px
            overflow: hidden
            &.active
                height: inherit
            .slidelist_num
                border-right: 4px solid #D1F0FA
                padding: 20px
                min-width: 62px
                &.dBlue
                    border-right: 4px solid #33CFFF
            .slidelist_wrapper
                padding: 20px
            .slidelist_title
                margin-bottom: 6px